.vs/
out/
.gitmodules

build/

**/CMakeFiles/

**/TypherCompiler

**/Makefile
**/cmake_install.cmake
**/CMakeCache.txt
**/CmakePresets.json

*.h.inc
*.cpp.inc
*.gen
*.a
*.o
tablegen_compile_commands.yml

c_test.c
run_c_test.sh

third_party/**